<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    {% if page.title %}
      {{ page.title }} | {{ site.title }}
    {% else %}
      {{ site.title }}
    {% endif %}
  </title>

  <meta name="description" content="{{ page.description | default: site.description }}">

  <meta name="author" content="{{ site.title }}">

  <meta name="google-site-verification" content="google7607feb4a67c07ea.html" />

   <!-- Open Graph (LinkedIn, social sharing) -->
  <meta property="og:title" content="{{ page.title | default: site.title }}">
  <meta property="og:description" content="{{ page.description | default: site.description }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ page.url | absolute_url }}">

  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary_large_image">
  
  <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">

  {% seo %}

</head>
